body{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,
  "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin: 0;
  font-weight: 400;
  line-height: 30px;
  color: #212520;
  background-color: white;
}
#mainArticle{
  padding-left: 10px;
  margin: 0;
  max-width: 1100px;
}
#mainTitle{
  position: relative;
  padding: 6px 11px;
  font-family: avenirltstd black,sans-serif;
  border-left: #4e96c9 solid 5px;
  font-size: 40px;
  text-align: left;
  display: block;
  font-weight: 700;
  margin-bottom:10px;
}
.articleImg{
  margin: 0;
}
.articleImg img{
  width: 1100px;
  max-width: 100%;
  height: auto;
  border-style: none;
  display: block;
}
.imgFooter{
  text-align: right;
  margin:0;
  padding-top: 5px;
  color: #b1b1b1;
  font-size: 0.9rem;
  font-family: avenirltstd regular,sans-serif;
}
.authorName{
  color: #007bff;
  font-weight: bolder;
}
a{
  text-decoration: none;
}

a:visited{
  color:#007bff ;
}
a:hover{/* doesn't work on the strong a*/
  text-decoration: underline;
  color: rgb(0, 86, 179);
}
article p{
  font-size: 20px;
  font-family: avenirltstd regular,sans-serif;
  text-align: justify;
}
em{
  font-style: italic;
}
.sectionTitle{
  font-size: 2.4em;
  padding: 6px 11px;
  font-family: avenirltstd black,sans-serif;
  border-left: #4e96c9 solid 5px;
  background-color: transparent;
  width: auto;
}
blockquote{
  font-style: italic;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  margin: 20px 0;
  text-align: justify;
  font-family: avenirltstd regular,sans-serif;
}
.clr{
  clear: both;
}
/* hr{     not working as intendeed              
  position:absolute ;
  top: 146%;
  left: 10px;
  right: 10px;
  margin: 0;
}*/
.authorImg{
  margin: 0;
  padding: 0;
}
#authorInfo{
 /* display: grid; don't really know how to use it*/
  margin: 0;
  padding: 14px;
  border: #cecece solid 1px ;
  width: 45%;
  float: left;
}
#authorInfo img{
  float: left;
  max-width: 136px;
  border-bottom: #4e96c9 solid 5px;
  margin-right: 20px;
  margin-bottom: 160px; /*100$ this is not the way to do this*/
}
#authorInfo p{
  box-sizing: border-box;
  margin:0;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  max-width: 540px;
}
#authorImgFooter{
  text-align: left;
  font-style: italic;
}
#authorInfo strong{
  color: #4e96c9;
  font-style: normal;
  font-size: 14px;
}
#authorInfo a{
  justify-self: end;
  color: white;
  background-color: #4e96c9;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 5px;
}
#authorInfo a:hover{
  background-color: black;
}
#nextNews{
  float:left;
  margin-left: 20px;
  width: 45%;
}
#nextNews img{
  float:left;
  max-width: 260px;
  margin-right: 10px;
  margin-bottom: 120px;
}
#nextNews p{
  margin:0;
  margin-top: 5px;
}
#nextNews .button{
  justify-self: end;
  color: white;
  background-color: #4e96c9;
  text-align: center;
  text-decoration: none;
  border: none;
  padding: 5px;
}
#nextNews h3{
  margin:0;
  color:black;
}
#nextNews .button:hover{
  background-color: black;
}
/*Header*/
header{
  display: flex;
  width: 100%;
  border-bottom: #4e96c9 solid 4px;
  height: 64px;
  justify-content: space-between;
}
header *{
  margin: 0;
  padding: 0;
}
header ul{
  list-style: none;
}
header li{
  display:inline;
}
.mainMenu li a{
  color: black;
  text-decoration: none;  
  padding: 14px 50px;
  float: left;
  font-weight: 700;
  font-size: 14px;
  font-family: avenirltstd regular,sans-serif;
}
.mainMenu li a:hover{
  color: white;
  background-color: #4e96c9;
}
header img{
  height: 36px;
  padding: 14px 10px;
}
header .socialMedia a{
  color: black;
  text-decoration: none;
  float: left;
  padding: 14px 14px;
  font-size: 26px;
}
.searchButton{
  font-size: 27px;
  background-color: #f0f0f0;
  padding: 14px;
  float: left;
}
footer{
  background-color: black;
  max-width: 1770px;
  padding: 32px 40px;
  margin: 40px auto 0;
  color: white;
  text-align: center;
}
#footerMenuLinks a, footer .socialMediaLinks a{
  color:white;
}
footer li{
  display: inline;
}
footer .socialMediaLinks{
  font-size: 26px;
}
footer .socialMediaLinks a{
 padding: 15px;
}
footer .socialMediaLinks a:hover{
  color: #4e96c9;
 }
 #footerMenuLinks a{
 padding:25px;
 font-weight: 400;
 font-size: 16px;
 font-family: avenirltstd regular,sans-serif;
 }
 .lastRow{
display: flex;
align-content: center;
justify-content:space-between;
border-top: 1px solid #2b2a2a;
 }
 #contactUs, #copyright{
   font-size: 12px;
   color: #919191;
   margin-bottom: 26px;
 }

 #contactUs a{
   color: #4e96c9;
   text-decoration: none;
 }

#footerMenuLinks{
    list-style: none;
    margin-left: 0;
  }
  